node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

vendor/
.env

#android studio
.gradle
.idea
gradle
build.gradle
gradlew
gradlew.bat
local.properties